.App {
  padding: 50px 0;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #ddd;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.largeCard {
  width: 94%;
  height: 20rem;
}

.orderCard {
  width: 50%;
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}

.heatmap {
  max-width: 100%;
  margin: 20px auto;
}

.react-calendar-heatmap .color-empty {
  fill: #ebedf0;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #c6e48b;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #7bc96f;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #239a3b;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #196127;
}
